$color-brown: #623b19;
$color-black: black;
$color-white: white;
$color-dark-brown: brown;
$color-light-brown: rgb(197,190,189);

// Navigation Bar
.nav-wrapper {
  background-color: $color-brown
}

.right #login-btn {
  width: 200px !important;
  margin-top: 8px;
  margin-right: 15px;
}

div #login-btn {
  background-color: $color-light-brown !important;
  color: $color-white !important;
  border-radius: 4px !important;
}

.circle.responsive-img {
  max-width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-right: 10px;
}

div #login-btn:hover, #logout-btn:hover {
  background-color: $color-brown !important;
}

#app {
  font-family: 'Lato', sans-serif;
}

.article-title {
  color: $color-brown;
  font-weight: bold;
  font-size: 22px;
}

#heading-text {
  color: $color-brown;
  text-transform: capitalize;
}

.card .card-image .card-title {
  color: $color-white;
  position: absolute;
  font-size: 24px;
  font-weight: 900px;
}

.card .card-image img {
  max-height: 400px !important;
}

.card.small {
  height:700px;
  width: 100%;
  box-shadow: 
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// Sources Styling
.row {
  margin: 0 auto;
  width: 1000px;
}

.btn{
  background-color: $color-brown
}

.btn:hover {
  background-color: $color-light-brown
}

.waves-effect.waves-light.btn {
  background-color: $color-light-brown
}

.card {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

.card-content {
  height: 280px;
}

.card .card-content.white-text{
  background: $color-light-brown;
}

.card .card-action {
  background: $color-light-brown;
}

.card .card-title {
  color: $color-white;
  font-size: 32px;
  font-weight: bold;
}

.search-content {
  align-content: center;
}

// Footer
footer {
  color: $color-brown
}
