/*@media only screen {*/
/*nav .brand-logo {
    left: 10%;
    transform: translateX(-10%);
}*/
/*}*/

/*nav .brand-logo {
    position: absolute;
    display: inline-block;
    padding: 0;
    white-space: nowrap;
}*/

footer {
    color: green
}
.nav-wrapper {
    background-color: #623b19
}

