footer {
  color: green
}
.nav-wrapper {
  background-color: #623b19
}

.row {
  margin: 0 auto;
  width: 1000px;
}

#app {
  font-family: 'Lato', sans-serif;
  // font-weight: bold;
}

nav .brand-logo {
	margin-left: 20px;
}

nav form {
	margin-left: 180px;
	width: 300px;
}