$color-brown: #623b19;

.nav-wrapper {
  background-color: $color-brown; 
}
// .btn {
//   color: #ffd4b1;
// }
.row {
  margin: 0 auto;
  width: 1000px; 
}

.search-content {
  align-content: center;
}

#app {
  font-family: 'Lato', sans-serif; 
}

.card-content {
  height: 280px; 
}

.card.small {
    height: 410px;
}

footer {
  color: green; 
}
